<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#dashboard.html">Dashboard</a><i class="fa fa-circle"></i>
    </li>
    <li class="active">
        statistics
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- User datatables -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="actions">
                    <!--<a href="javascript:;" ui-sref="admin.cashierform({action:'Add'})" title="Add User" class="btn btn-circle btn-default btnEdit">-->
                    <!--<i class="fa fa-plus"></i>-->
                    <!--<span class="hidden-480">Add Cashier</span>-->
                    <!--</a>-->
                </div>
            </div>
            <div class="portlet-body">
                <h1>statistics Graph and other stuff</h1>
            </div>
        </div>
    </div>
</div>


